*{
	padding:0px;
	margin:0px;
	font-style:微软雅黑;
}

ul{
	list-style:none;
}
a{
	text-decoration:none;
}

#main{
	width:900px;
	margin:0 auto;

}
.logo{
	margin-bottom: :15px;
	padding:15px;

}

.logo img{
	width: 250px;
	height:100px;
}

.center{
	width:300px;
	height: 330px;
	margin:0 auto;
    background: #ccc;
    border:1px solid #ccc;
    border-top:5px solid #f00;
    border-right:1px solid #ccc;
}

#login h4{
	font-size: 20px;
    color: #222;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 12px;

}

#login input{
	display:block;
	width:80%;
	height:30px;
	margin:0px auto;
}

